@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles */
body {
  font-family: 'Arial', sans-serif;
}

@media (min-width: 768px) {
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-10 {
    grid-column: span 10 / span 10;
  }

  .md\:absolute {
    position: absolute;
  }

  .md\:right-0 {
    right: 0;
  }

  .md\:top-0 {
    top: 0;
  }
}
